@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0px;
    
}
.mainBox{
    display: flex;
}

.leftBlock{
    color: white;
    width: 32%;
    border-radius: 12px;
    background-color: rgba(57, 57, 254, 0.934);
    padding: 12px;
    padding-bottom: 36px;
    font-family: 'Lato', sans-serif;

}
.logo{
  padding: 8px;
}

.container1{
    display: flex;
}
.card{
    margin-top: 44px;
    background-color: rgb(20, 20, 248);
    margin-bottom: 36px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    padding: 8px;
}
img{
    padding: 5px;
    height: 12vh;
    border-radius: 5px;
}
.heading1{
    margin-top: 13px;
    font-size: 2.2rem;
    padding: 13px;
}
.heading2{
    padding: 13px;
}

.rightBlock{
    width: 75%;
    padding: 60px;
    font-family: 'Lato', sans-serif;

}
.box1{
    outline: none;
    margin:10px 0px 15px 0px;
    width: 66%;
    height: 5vh;
}
.Loginbtn{
    border: none;
    border-radius: 5px;
    color: white;
    padding:5px 30px 5px 30px   ;
    background-color: rgb(66, 66, 248);
    margin:15px 0px 15px 0px ;
    font-size: 1rem;
}

.data1{
    color: gray;
    font-size: small;
}
.sign{
    color: blue;
}
.data2{
    color: grey;
    font-size: small;
    margin-top: 130px;
}
.rem{
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .rightBlock{
        width: 20%;
        height: 80%;
    }
}
